body {
    margin:0;
  }
  
  .background1 {
    background-image: url(C:\Users\kushan\OneDrive\Desktop\html\bankproject\Bank-simulator\src\assets\pexels-photo-5553924.webp); 
   
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
   position: fixed;
   opacity: 0.9;
   z-index: -100;
   
   
 }
 .background1::before{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.7);
     z-index: -10;
     
 }
