body {
    margin:0;
  }
  
  .background {
       background-image: url(src/assets/businessman-hand-touching-virtual-graphical-interface-innovation-idea-digital-solution_771745-1071.jpg); 
      
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;
      height: 100vh;
      width: 100%;
      opacity: 0.9;
      z-index: 1;
      
    }