.wrapper{
    margin-left: 20%;
    margin-top: 130px;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: hsla(217, 84%, 13%, 0.6);
    border: 1px solid rgb(102, 95, 95);
}